:root{
    --color1-azul: #0D47A1;
    --color2-amarillo: #FFC107;
    --color3-verde: #388E3C;
    --color4-rosa: #F06292;
    --color5-gris: #424242;
    --color6-naranja: #FF5722;
}

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

h1{
    color: rgb(0, 89, 255);
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th,td{
    word-break: keep-all;
    padding: .25rem .45rem;
    border: 1px solid rgba(0, 0, 0, 0.268);
}

.grid-center{
    height: 100%;
    display: grid;
    place-items: center;
}

.box1{
    background-color:rgb(77, 50, 35);
    font-family: Calibri;
    font-size: 15px;
    color: white;
    width:370px;
    height: 480px;
    text-align: justify;
    padding-right: 60px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    border: 10px ridge rgb(213, 220, 191);
    margin: 40px;
}

.box2{
    background-color:rgb(52, 53, 54);
    font-family: Calibri;
    font-size: 15px;
    color: white;
    width:370px;
    height: 370px;
    text-align: justify;
    padding-right: 60px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    border: 15px ridge rgb(221, 231, 189);
    margin: 40px;
    position: relative;
}


.registro{
    width: 400px;

    background-color: rgb(238, 124, 139);
    padding: 15px;
    box-shadow: 0px 4px 8px;
    border-radius: 5px;
}

.registro_movimiento{
    width: clamp(230px, 260px, 350px);
    background-color: rgb(124, 238, 132);
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.512);
    border-radius: 5px;
}


#form_login{
    padding: 15px;
}

main{
    position: relative;
    top: 56px;
    height: calc(100% - 56px);
    width: 100%;
    /* display: grid;
    place-items: center; */
}

.navbar{
    background-color: red !important;
}

.navbar a{
    color: white;
}

.acciones>h2{
    padding-bottom: .5rem;
}

.acciones{
    padding: 3vh 2.5vw;
    background-color: var(--color6-naranja);
    color: rgb(255, 255, 255)
}

.acciones li::marker{
    content: none;
}

.acciones ul{
    padding: 0;
    display: flex;
    gap: 10px;
}

.acciones li {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
}

.acciones li:hover {
    padding: 5px 10px;
    background-color: var(--color2-amarillo);
    border: 1px solid white;
    color: black;
}


.acciones a{
    text-decoration: none;
    color: rgb(226, 226, 226);
}

#datos_usuario{
    color: white;
}

.btn{
    color: white;
}